<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用户登录</h1>
    </div>
    <form id="signin_form">
      <div class="form-group">
        <label for="inputEmail">邮箱</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" autofocus required>
      </div>
      <div class="form-group">
        <label for="inputPassword">密码</label>
        <a class="pull-right" href="">忘记密码？</a>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登录</button>
    </form>
    <div class="message">
      <p>没有账号? <a href="/register">点击创建</a>.</p>
    </div>
  </div>
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript">
        $('#signin_form').on('submit',function(){
          // var formData = $(this).serialize()    
          // console.log(formData)
        $.ajax({
            url: '/signin',
            type: 'post',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data){
              // console.log(data)
              switch (data.code) {
                case 0:
                  window.location.href = "/"
                break
                case 1:
                  window.alert('用户不存在！')
                break
                case 2:
                  window.alert('密码无效！')
                break
              }
            },
            error: function(err){
                console.log(err)
            }
        })
        return false
      })

  </script>
</body>

</html>
